:root {
    --white: #FFFFFF;
    --black: #000000;
    --blue: #0069A3;
    --yellow: #F4D73B;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
*{
  box-sizing: border-box;
}
body {
    margin:0;
    font-family: 'Fira Sans', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
  background-color: var(--yellow);
}
.logo {
  width: 100px;
}

.logo2 {
 width: 50%;
 height: 80%;
}
.empre-img {
  margin-left: 25%;
  width: 50%;
  justify-self: center;
  display: grid;
}
.navbar-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display: flex;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a{
  text-decoration: none;
  color: var(--blue);
  padding: 8px;
  
  border-radius: 8px;
}
.navbar-left ul li a:hover{
  border: 1px solid var(--blue);
  color: var(--blue);
}
.index-image figure img {
  margin-left: 25%;
  width: 70px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
}
.index-img  {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
  align-items: center;
  background-color: var(--blue);
}
.bienvenidos {
  margin-left: 15%;
}
.index-img:first-child {
  display: flex;
  flex-direction: column;
  
}
.text1{
  color: var(--yellow);
  margin-left: 20px;
  margin-right: 40px;
}
.index-img figure {
  margin: 10px;
}
.index-img  figure img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

.login {
  display: flex;
  place-items: center;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap ;
  Justify-content: center;
}

.info-container {
  display: grid;
  width: 400px;
  height: 50vh;
  border-radius: 8px;
  border: 2px solid var(--blue);
  padding: 30px;
  margin: 20px;
}
.form-container {
  display: grid;
  width: 400px;
  height: 50vh;
  border-radius: 8px;
  border: 2px solid var(--blue);
  padding: 30px;
  margin: 20px;
}
.register-container {
  display: grid;
  width: 400px;
  height: 50vh;
  border-radius: 8px;
  border: 2px solid var(--blue);
  padding: 30px;
  margin: 20px;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.form a {
  color: var(--blue);
  font-size: var(--sm);
  text-decoration: none;
  text-align: center;
  margin-bottom: 53px;
}
.login-title {
  margin-top: 5px;
  justify-self: center;
  font-weight: bold;
  color: var(--blue);
  border-bottom: 5px solid var(--yellow)
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
  color: var(--blue);
}
.input {
  background-color: var(--text-input-field);
  border: 8px var(--black);
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}
.input-email {
  margin-bottom: 22px;
}
.primary-button {
  background-color: var(--yellow);
  border-radius: 8px;
  border: none;
  color: var(--blue);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.secondary-button {
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--blue);
  color: var(--blue);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.empreUAM-title {
  justify-self: center;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
  color: var(--blue);
  border-bottom: 5px solid var(--yellow)
}
.register-title {
  margin-top: 5px;
  justify-self: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--blue);
  border-bottom: 5px solid var(--yellow)
}

.login-button {
  width: 210px !important;
}

.footer {
  background-color: var(--blue);
  height: 100%;
  width: 100%;
  margin-top: 120px;
}
.footer-logo{
  width: 300px;
}

